.container {
    display: grid;
    grid-template-columns: var(--grid-cell-size-w) var(--grid-cell-size-w) var(--grid-cell-size-w) var(--grid-cell-size-w);
    grid-template-rows: calc(100vh * .05) calc(100vh * .95);
    grid-template-areas: 
    "header header header header"
    "main main main sidebar";
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
}

.header {
    grid-area: header;
    background-color: #FFF;
    -webkit-box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.75);
    overflow: hidden;
    z-index: 10;
}

.sidebar {
    grid-area: sidebar;
    background-color: #FFF;
    -webkit-box-shadow: -5px 0px 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 0px 10px -5px rgba(0,0,0,0.75);
    box-shadow: -5px 0px 10px -5px rgba(0,0,0,0.75);
    overflow: hidden;
    z-index: 9;
}

#options {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.menu-component {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-sm) var(--spacing-md);
    text-align: center;
    font-size: 1.1rem;
    border: 1px solid var(--outline-color-100);
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 var(--outline-color-100);
    transition: all 200ms ease-out;
}

.menu-component:hover {
    box-shadow: 0 2px 6px 0 var(--outline-color-300);
    cursor: grab !important;
}


.menu-component i {
    font-size: 4rem;
    margin-bottom: var(--spacing-tiny);
}

.main {
    grid-area: main;
    background-color: #F0F0F0;
}

#content {
    width: 75%;
    height: 100%;
    background-color: #FFF;
    margin: 0 auto;
    overflow-y: scroll;
}

.placeholder {
    height: 100px;
}

.layout {
    width: 100% !important;
    border: 2px solid transparent;
}

.layout:hover {
    border: 2px solid var(--outline-color-100);
}

.layout td {
    border: 2px solid transparent;
}

.layout:hover td {
    border: 2px solid var(--outline-color-100);
}

.layout-1-1-1 td {
    width: calc(100% / 3);
}