.selected {
    border: var(--border-select-width) solid var(--color-blue);
    border-radius: 5px;
}

.selectedMenu {
    position: absolute;
    right: 0;
    transform: translateX(100%);
    z-index: 10;
    padding: .5rem;
    background-color: var(--color-neutral-400);
    border-color: var(--color-blue);
    border-style: solid;
    border-width: var(--border-select-width) var(--border-select-width) var(--border-select-width)  0;
    border-radius: 5px;
}